{%extends 'home/base.html'%}
{%load static%}
{%block body%}
<div class="container">
    <div class="div">
        <h1 style="background-color:aquamarine; position:static" >WE WILL MAIL YOU ABOUT YOUR CART AND TOTAL BILL</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
{%endblock%}
