{%extends 'home/base.html'%}
{%load static%}
{%block body%}
<div class="container">
    <div class="img-box" style="background-color: black;">
        <img src=" {% static 'images/ai.jpg' %}" alt="">
      </div>
<div class="div" >
    <h1 style="background-color: blanchedalmond;">WHAT IS AI</h1>
    Artificial Intelligence (AI) is a  rapidly growing field that has the 
    potential to revolutionize many industries and aspects of our lives. AI refers to the development of  computer systems that can perform tasks that typically require human intelligence, such as learning, problem-solving, and decision-making
    There are many different types of AI, including machine learning, natural language processing, and computer vision. Machine learning is a type of AI that enables systems to learn from data and improve their performance over time. Natural language processing allows computers to understand and generate human language, while computer vision enables computers to interpret and understand visual data from the world around us.
    The potential applications of AI are vast and varied. For example, AI can be used in healthcare to develop more accurate diagnosis and treatment plans, or in transportation to improve the safety and efficiency of self-driving cars. AI can also be used in education to personalize learning and improve student outcomes.
    However, as with any technology, there are also potential risks and challenges associated with AI. For example, there are concerns about the impact of AI on employment and privacy, as well as the potential for AI systems to be biased or discriminatory.

 Overall, AI has the potential to bring about significant benefits and improvements to our lives, but it is important to approach its development and use with caution and consideration of its potential risks and challeng




    <h1 style="background-color: blanchedalmond;">WHAT ARE SOME RECENT EXAMPLE OF AI</h1>
    What are some recent examples of AI?
Overall, the most notable advancements in AI are the development and release of GPT 3.5 and GPT 4. But there have been many other revolutionary achievements in artificial intelligence -- too many, in fact, to include all of them here.

Here are some of the most notable:
<h4>

ChatGPT (and the GPTs)    
</h4>

ChatGPT is an AI chatbot capable of natural language generation, translation, and answering questions. Though it's arguably the most popular AI tool, thanks to its widespread accessibility, OpenAI made significant waves in the world of artificial intelligence with the creation of GPTs 1, 2, and 3. 

Also: 5 ways to use chatbots to make your life easier

GPT stands for Generative Pre-trained Transformer, and GPT-3 was the largest language model in existence at the time of its 2020 launch, with 175 billion parameters. The latest version, GPT-4, accessible through ChatGPT Plus or Bing Chat, has one trillion parameters. 

Self-driving cars
Though the safety of self-driving cars is a top concern of potential users, the technology continues to advance and improve with breakthroughs in AI. These vehicles use machine-learning algorithms to combine data from sensors and cameras to perceive their surroundings and determine the best course of action. 

Also: An autonomous car that wakes up and greets you could be in your future

Tesla's autopilot feature in its electric vehicles is probably what most people think of when considering self-driving cars, but Waymo, from Google's parent company, Alphabet, makes autonomous rides, like a taxi without a taxi driver, in San Francisco, CA, and Phoenix, AZ.

Cruise is another robotaxi service, and auto companies like Apple, Audi, GM, and Ford are also presumably working on self-driving vehicle technology. 

Robotics
The achievements of Boston Dynamics stand out in the area of AI and robotics. Though we're still a long way away from creating AI at the level of technology seen in the moive Terminator, watching Boston Dyanmics' robots use AI to navigate and respond to different terrains is impressive. 

DeepMind
Google sister company DeepMind is an AI pioneer making strides toward the ultimate goal of artificial general intelligence (AGI). Though not there yet, the company initially made headlines in 2016 with AlphaGo, a system that beat a human professional Go player. 

Since then, DeepMind has created a protein-folding prediction system, which can predict the complex 3D shapes of proteins, and it's developed programs that can diagnose eye diseases as effectively as the top doctors around the world.
</div></div>
{%endblock%}